*~
.#*
.#.*
\#*#

t99
t99.*
j99
j99.*
o99
o99.*
old
old.*

o.git_*.out
o.*.out

.dirstamp
.deps

*.o
*.lo
*.log
*.trs
*.out

aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
obj
stamp-h1
test-driver
#end
