# editor temporaries
*~
\#*#
.#*

o.*.out
o.*.err
x.*.out
x.*.err
j.*
*.j
j

*.o
*.lo

.checked

.libs
.deps
.dirstamp

.Tpo
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
m4
missing
obj
stamp-h1

j99
j99.*
t99
t99.*
o99
o99.*

test-driver
test-suite.log

# --- boilerplate wisdom from Git Enterprise

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# end
