.checked

# libtool trash
.dirstamp
.deps

# hack around c-ares source code access
ares_config.h

# autotools trash
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
stamp-h2

# The S.C.O.L.D. build system trash
# compilation trash could be in ./obj but that is not persistent
obj
obj/**/*.o
obj/**/*.lo

# The autotools test suite, and incendiary-sophist
test-driver
test-suite.log

# editor trash and other personal ephemera should be in your ~/.config/git/ignore
*~
.#*
.#.*
\#*#
.tramp_history

t99
t99.*
*.t99
j99
j99.*
*.j99
o99
o99.*
*.o99
old
old.*
*.old

o.git_*.out
o.make.out
o.make_*.out
o.*.out

# end
