*~
.#*
.#.*
\#*#

tmp
tmp.*
old
old.*
t99
t99.*
junk
junking
j99
j99.*
o00
o99.*
trash
trashing

o.git_*.out

.dirstamp
.deps

*.o
*.lo
*.log
*.trs
*.out

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
obj
stamp-h1
test-driver
#end
