*~
.#*
.#.*
\#*#

tmp
tmp.*
old
old.*
t99
t99.*
junk
junking
j99
j99.*
o00
o99.*
trash
trashing

o.git_*.out

.dirstamp
.deps

*.o
*.lo
*.log
*.trs
*.out

# synthesized by buildconf
configure

# generally trash, but not used here
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
m4
missing
obj
test-driver
# end
