# the executables
.libs
# the possible names for testettes (little testers)
access
chdir
chmod
clearenv
close
creat
create
dup
dup2
dup3
exec
execp
execp.string
exec.string
executable
exists
faccessat
fchdir
fchmod
fchmodat
fcntl
fork
fstat
fstatat
getcwd
getenv
getfd
getfl
gethostname
getwd
gmtime
ioctl
isblk
ischr
isdir
isfifo
islnk
isreg
issock
link
linkat
localtime
lstat
mkdir
mkdirat
mkdirp
mkdtemp
mkstemp
mktemp
open
openat
putenv
readable
readlink
readlinkat
realpath
rename
renameat
rmdir
rmdirat
secure_getenv
setenv
setfd
setfl
stat
symlink
symlinkat
time
tmpdir
touch
unlink
unlinkat
unsetenv
wait
writable
