.tramp_history
*~
.#*
.#.*
\#*#

tmp
tmp.*
old
old.*
t99
t99.*
junk
junking
j99
j99.*
o00
o99.*
trash
trashing

.dirstamp
.deps

*.o
*.lo
*.log
*.trs
*.out

mk

# synthesized by buildconf
configure

ltmain.sh

# end
